body {
    background-color: rgb(55, 59, 66);
}

h1 {
    font-size: 36px;
    color: white;
    text-align: center;
}

p {
    color: white;
}

div.jumbotron-fluid {
    background: url(/images/stars.jpg);
}

.created-by {
    color: white;
}

img {
    margin: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.gallery-img:hover {
    border-style: solid;
    border-width: 5px;
    border-color: blue;

}

label {
    color: white;
}

div.contact-info {
    padding: 20px;
}

div.card {
    margin: 20px;
    padding: 20px;
    background-color: rgb(21, 23, 25);
}

li {
    color: white;
}

h2 {
    color: white;
    font-size: 24px;
    text-align: center;
}

.login-form {
    text-align: right;
    padding-right: 40px;
}

.signup-form {
    text-align: right;
    padding-right: 40px;
}

.search-form {
    text-align: right;
    padding-right: 40px;
}