<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"> </title>
    <style>
        body {
            margin-left: 50px;
            background-color: #c0d6e4;
            color: #130d65;
            text-align: center;
        }
    </style>
</head>
<body>

<nav th:fragment="navigation">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
    <a href="/search">Search</a>
    <a href="/logout">Logout</a>
</nav>

</body>
</html>