<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>

<h1>International Space Station App</h1>

<nav th:replace="fragments :: navigation"></nav>

<img src="https://www.nasa.gov/sites/default/files/iss_1.jpg" alt="ISS from space" width="331" height="258" />
<p>Photo Credit: NASA (nasa.gov)</p>
<p th:text="${location}"></p>
<p>The International Space Station is a multinational research lab orbiting 220 miles above the surface of the
Earth. By maintaining this orbiting lab scientists are able to research the effects of living in space
on the human body, perform experiments that can only be done in zero gravity, and learn how to maintain
a spacecraft for long periods of time. Astronauts have been living in the International Space Station
since November 2000.</p>

</body>
</html>