<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<form action="/login" method="post" th:object="${user}">
    <p>
        <label th:for="username">Username</label>
        <input th:field="*{username}"/>
        <span th:errors="*{username}"></span>
    </p>
    <p>
        <label th:for="password">Password</label>
        <input th:field="*{password}" type="password"/>
        <span th:errors="*{password}"></span>
    </p>
    <button type="submit">Log in</button>
</form>

</body>
</html>