<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<h1>Find out when the ISS will be visible.</h1>

<form action="/search" method="post" th:object="${address}">
    <p>
        <label th:for="streetNumber">Street Number</label>
        <input th:field="*{streetNumber}"/>
        <span th:errors="*{streetNumber}"></span>
    </p>
    <p>
        <label th:for="street">Street</label>
        <input th:field="*{street}"/>
        <span th:errors="*{street}"></span>
    </p>
    <p>
        <label th:for="city">City</label>
        <input th:field="*{city}"/>
        <span th:errors="*{city}"></span>
    </p>
    <p>
        <label th:for="state">State</label>
        <input th:field="*{state}"/>
        <span th:errors="*{state}"></span>
    </p>
    <button type="submit">Search</button>
</form>
<br/>
<br/>

<form action="/search/delete" method="post">

    <div th:each="search : ${searches}">
        <input type="checkbox" name="Id" th:value="${search.Id}" th:id="${search.Id}"/>
        <label th:for="${search.Id}" th:text="${search.address}"></label>
        <p th:text="${search.time}"></p>
        <br />
    </div>

    <button type="submit">Remove Search</button>
    <button type="submit" formaction="/search/update">Update Search</button>
</form>
</body>
</html>